@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif
}
::selection{
  text-shadow: none;
  color: #fff;
  background: rgba(9,148,255,0.7)
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eaf6ff
}
.card{
  position: relative;
  width: 300px;
  height: 400px;
  padding: 20px;
  backdrop-filter: blur(5px);
  border-radius: 26px;
  box-shadow: 25px 25px 50px rgba(9,148,255,0.25),
  -10px -10px 30px rgba(9,148,255,0.25),
  inset -5px -5px 15px rgba(9,148,255,0.5);
  background: #fff;
}
.card .imBx{
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card .imBx img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  user-select: none;
}
.card .ct{
  display: grid;
  place-items: center;
  padding: 30px 20px;
  width: 100%;
}
.card .ct h3{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
  color: #0994ff;
}
.card .ct h3 span{
  text-transform: initial;
  font-size: 12.8px;
  font-weight: 500;
  color: #333;
}
.card .ct .soc{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 15px;
}
.card .ct .soc li{
  list-style: none;
}
.card .ct .soc li a{
  display: grid;
  place-items: center;
  position: relative;
  margin: 0 8px;
  width: 45px;
  height: 45px;
  text-decoration: none;
  font-size: 18.4px;
  color: #0994ff;
  background: #fff;
  border-radius: 17px;
  box-shadow: 5px 5px 10px rgba(9,148,255,0.25),
  -2px -2px 5px rgba(9,148,255,0.05),
  inset -2px -2px 5px rgba(9,148,255,0.25);
}
